{%extends 'navbar.html'%}
{%block head%} {{super()}}



    
{% endblock %}

{% block content %} 
<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.3/socket.io.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var socket = io.connect("http://localhost:5000");
        socket.on('connect', function() {
            socket.send('Connected to server');
        });
        socket.on('message', function(msg) {

            $('#messages').append($('<p>').text(msg));
            
        });

        $('#sendBtn').on('click', function () {
            socket.send($('#message').val());
            $('#message').val('');
        });

    })
    
</script>
<div class="container-sm" style="height: 200px; width: 500px; margin: 0 auto;">   
        <h1>Global Chat</h1>
    <div id="messages">

    </div>
    <div id="chat-messages"></div>
    <input type="text" id="message" placeholder="Type your message...">
    <button id="sendBtn">Send</button>

</div>

{%endblock%}